body {
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.valueContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}
.display {
    /*position: absolute;
    top: 50px;*/
    font-size: 24px;
    margin: 0;
}